* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100%;
  width: 100%;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}

#el-drawer__title{
  color: #fff;
}
.el-drawer {
  .el-input__inner,
  .el-input {
    width: 300px;
  }
}

.el-dialog__title {
  color: #fff;
  width: 100%;
  margin-bottom: 0;
}

.el-dialog {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .el-input__inner,
  .el-input {
    width: 300px;
  }
}

.el-drawer,
.el-dialog {
  label {
    color: #fff;
  }

  background: rgba(255, 255, 255, 0.3) !important;
}

.el-backtop:last-child {
  text-align: center;

  font-size: 36px !important;
}
