* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100%;
  width: 100%;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}

#el-drawer__title {
  color: #fff;
  margin-bottom: 0;
}

.el-drawer {
  .el-input__inner,
  .el-input {
    width: 300px;
  }
}

.el-drawer {
  label {
    color: #fff;
  }

  background: rgba(255, 255, 255, 0.3) !important;
  // background-color: red;
}
